<%# NavBar %>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:  #995FA3">
  <a class="navbar-brand" href="#"><i class="fas fa-globe-americas"></i> Mario's International Food Emporium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products" style="color:#A5F8D3">Home <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav> 
<%# Landing Page %>
<div class="container">
  <div class="row">
      <%# Left Nav Bar %>
      <div class="col-md-2 bd-sidebar flex-column p-2">
        <nav class="bd-links" aria-label="Main navigation">
          <div class="bd-toc-item">
            <ul class="nav bd-sidenav">
              <li class="nav-item">
                <h4 class="lead" style="color:#802392">Products</h4>
                <%= link_to "Create new product", new_product_path %>
              </li>
            </ul>
          </div>
          <hr>
          <div class="bd-toc-item">
            <ul class="nav bd-sidenav">
              <li class="nav-item">
                <h4 class="lead" style="color:#802392">Most Reviewed Product</h4>
                <% if @most_reviewed_product.any?%>
                  <%= link_to @most_reviewed_product.first.name, product_path(@most_reviewed_product.first)%></li>
                  <% end %>
              </li>
            </ul>
          </div>
          <hr>
          <div class="bd-toc-item">
            <ul class="nav bd-sidenav d-flex flex-column">
              <h4 class="lead" style="color:#802392">Newly Added Products!</h4>
                <% if @recent_products.any?%>
                  <% @recent_products.each do |product|%>
                    <li class="nav-item">
                      <li><%= link_to product.name, product_path(product) %></li>
                    </li>
                  <% end %>
                <% else %>
                  <li><p>There are no recently added products. Check back soon!</p></li>
                <% end %>
            </ul>
          </div>
          <hr>
        </nav>
      </div>
      <%# Main Content %>
      <div class="col-md-8">
        <%# Jumbotron %>
        <div class="jumbotron" style="background-color: #9A98B5">
          <h1 class="display-4" style="color:#A5F8D3">Welcome to Mario's!</h1>
          <p class="lead">We are passionate about serving up global flavors to our local families.</p>
          <hr class="my-4">
        </div>
        <%# About Us %>
        <div class="card ml-5 mb-3 border-0" style="max-width: 850px">
          <div class="row no-gutters">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="display-4" style="color:#802392"> Our Story</h4>
                  <br>
                  <p class="card-title"><span class="lead text-muted">Emporium owner Mario Russo discovered his lifelong passion for food on the Sicilian hillsides where he grew up.</span> His extended family would regularly gather for picnics in nature to celebrate la bella vida. His family taught him tha the best way to enjoy life was to notice its smallest pleasures.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <%# Image %>
          <%= image_tag 'vintage.jpg', style: "max-height: 400px; border-radius: 5%" %><br>
          <hr>
          <p class="card-title justify-content-start" style="max-width: 600px">Mario would eventually leave Sicily, for his parents' work as English language teachers would carry them across the globe. While Mario never got used to switching homes so often, he fell in love with the expectation of new foods and flavors that each new location promised. Today he's found his home, managing the largest international food store on the West Coast! <span class="lead text-muted">Much more than a store, we are a community, celebrating the simple joys of good food and family.</span> So stop on by, enjoy a cappucino from the cafe as you shop, and appreciate la bella vida.</p>
        </div>
      </div>
      <%# Right Navbar %>
      <div class="col-md-2  bd-sidebar flex-column">
        <h3 class= "display-3" style="color:#A5F8D3">Product List</h3>
          <% if @products.any? %>
            <ul>
              <% @products.each do |product| %>
                <li><%= link_to product.name, product_path(product) %></li>
              <% end %>
            </ul>
          <% else %>
            <p>There are no products yet.</p>
          <% end %>
      </div>
  </div>
</div>