<%# NavBar %>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:  #995FA3">
  <a class="navbar-brand" href="#"><i class="fas fa-globe-americas"></i> Mario's International Food Emporium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/products">Home <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav> 
<%# Product Detail Page %>
<div class="container">
  <div class="row">
    <%# Title Tile %>
    <div class="col-lg-5">
      <div class="jumbotron" style="background-color: #A5F8D3">
        <h2 class="display-1 text-white"><%= @product.name %></h2>
        <hr>
        <h4 class="lead"><span style="color:#802392">Country of Origin: </span><%= @product.country_of_origin %></h4>
        <h5 class="lead"><span style="color:#802392">Cost: </span>$ <%= @product.cost.round(2) %></h5>
      </div>
      <%# Lower Sidebar Links %>
      <hr>
      <p><%= link_to "Edit Product", edit_product_path(@product) %></p>
      <hr>
      <p><%= link_to "Delete Product", product_path(@product),
                              :data => {:confirm => "Are you sure?",
                                            :method => "delete"} %></p>
      <hr>
      <p><%= link_to "Add a Review", new_product_review_path(@product) %></p>
      <hr>
    </div>
    <%# Ratings %>
    <div class="col-lg-7">
      <h4 class="display-4" style="color:#802392">Reviews and Ratings</h4>
      <br>
       <% if @product.reviews.any? %>
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">Title</th>
                <th scope="col"> 5-Star Rating</th>
              </tr>
            </thead>
            <tbody>
              <% @product.reviews.each do |review| %>
              <tr>
                <td><%= link_to review.title, product_review_path(@product, review) %></td>
                <td><%= review.rating %></td>
              <tr>
              <% end %>
            </tbody>
          </table>
      <% else %>
        <p>No reviews are listed for this product.</p>
      <% end %>
    </div>
  </div>
</div>